body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
.name-color{
    color: orange;
}
.firstsecction{
    display: flex;
}
.up-side{
    width: 50%;
    padding-left: 10%;
    
}
.up-side img{
    width: 80%;
}
